@font-face {
	src: url(../fonts/roguehero3dital.ttf);
	font-family: 'Crisish 3D';
}

@font-face {
	font-family: 'Crisish line';
	src: url(../fonts/rogueherolaserital.ttf);
}

@font-face {
	font-family: Crisish;
	src: url(../fonts/rogueherosuperital.ttf);
}

body {
	text-align: center;
}
#img-div {
	background-color: grey;
	width: 60%;
	height: 60%;
	padding: 10px;
	margin: auto;
}

#image {
	max-width: 100%;
	max-height: auto;
	display: block;
}
