@font-face {
	src: url(../fonts/roguehero3dital.ttf);
	font-family: 'Crisish 3D';
}

@font-face {
	font-family: 'Crisish line';
	src: url(../fonts/rogueherolaserital.ttf);
}

@font-face {
	font-family: Crisish;
	src: url(../fonts/rogueherosuperital.ttf);
}

body {
	text-align: center;
}

#img-div {
	background-color: rgb(255, 255, 255);
	width: 60%;
	height: 60%;
	padding: 10px;
	/* padding: .625rem; */
	margin: auto;
}

#image {
	max-width: 100%;
	max-height: auto;
	display: block;
}

h1 {
	font-size: 3em;
	font-family: Crisish;
	background-image: linear-gradient(
		180deg,
		hsla(0, 0%, 0%, 1) 16%,
		hsla(240, 71%, 61%, 1) 31%,
		hsla(240, 44%, 83%, 1) 48%,
		hsla(240, 71%, 61%, 1) 62%,
		hsla(0, 0%, 0%, 1) 84%
	);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
	font-weight: lighter;
	margin-bottom: 0;
}

blockquote {
	font-style: italic;
	text-align: left;
}

.timeline {
	margin: 0 auto;
	max-width: 100%;
	padding: 25px;
	display: grid;
	grid-template-columns: 1fr 3px 1fr;
	font-family: 'Fira Sans', Sans Serif;
	color: black;
}

.timeline-component {
	margin: 0 20px 20px 20px;
}

.timeline-component-bg {
	padding: 1.5em;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: 0 0 5px rgba(0, 0, 0, .65);
	border-radius: 10px;
}

.timeline-event {
	margin: 0;
	font: 1.15em;
}

.timeline-date--right {
	text-align: right;
}

.timeline-date-left {
	text-align: left;
}

.timeline-middle {
	position: relative;
	background-color: black;
}

.timeline-point {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 15px;
	height: 15px;
	background-color: red;
	border-radius: 50%;
}
